<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      <%= @restaurant.name %> 
    </h1>

    <img class = "img-fluid" src = "<%= @restaurant.image %>">
     
    <dl>
      <dt>
        Address
      </dt>
      <dd>
        <%= @restaurant.address %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <%= @restaurant.category %>
      </dd>



    </dl>
  </div>
</div>


